/.idea/
*.iml
/logs/
/target/
*/dependency-reduced-pom.xml
.gradle/*
build/*
!gradle/wrapper/gradle-wrapper.jar
.project
.classpath
.settings
/plugin-api/build/
/plugin-api/out/
/protocol/build/
/protocol/out/
/LavalinkServer/
.cache/
site/
.DS_Store
.kotlin/